Repository xianyuntang/termigo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

1
  .github/workflows/publish.yaml
Due: none

Cicd auto version (#4)
  .github/workflows/publish.yaml
  src-tauri/tauri.conf.json
Due: prettier --check

Fixed xterm focus issue
  src/components/pages/terminals-page/terminal-view/terminal-view.tsx
Due: eslint

Updated README
  README.md
Due: prettier --check

Added StoreKey
  src-tauri/src/domain/gpt/command.rs
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/domain/host/session.rs
  src-tauri/src/domain/identity/command.rs
  src-tauri/src/domain/mod.rs
  src-tauri/src/domain/private_key/command.rs
  src-tauri/src/domain/store/mod.rs
Due: none

Fixed connection timeout issue
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/domain/host/event.rs
  src-tauri/src/domain/host/ssh_client.rs
  src/components/pages/hosts-page/tunnel-sidebar/tunnel-sidebar.tsx
  src/components/pages/identities-page/sidebar/sidebar.tsx
  src/components/pages/private-keys-page/sidebar/sidebar.tsx
  src/components/pages/settings-page/settings-page.tsx
  src/components/pages/terminals-page/status-overlay/status-overlay.tsx
  src/components/pages/terminals-page/terminal-view/constant.ts
  src/components/pages/terminals-page/terminal-view/interface.ts
  src/components/pages/terminals-page/terminal-view/terminal-view.tsx
Due: eslint

Fixed redirect when terminal closed
  src/components/pages/terminals-page/terminal-view/terminal-view.tsx
  src/core/invoker.ts
Due: eslint

Fixed useGlobalShortcut deps
  src/components/app-navbar/terminal-shortcuts/terminal-shortcuts.tsx
  src/components/pages/terminals-page/terminal-view/terminal-view.tsx
  src/hooks/global-shortcut.ts
Due: eslint

Added reset data functionality
  src-tauri/capabilities/default.json
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/domain/identity/services/store_manager_impl.rs
  src-tauri/src/domain/setting/command.rs
  src-tauri/src/domain/store/enum.rs
  src-tauri/src/domain/store/store_manager.rs
  src-tauri/src/lib.rs
  src/components/pages/hosts-page/sidebar/sidebar.tsx
  src/components/pages/identities-page/identities-page.tsx
  src/components/pages/identities-page/sidebar/sidebar.tsx
  src/components/pages/settings-page/settings-page.tsx
  src/components/shared/confirm-dialog/confirm-dialog.tsx
  src/components/shared/confirm-dialog/index.ts
  src/interfaces/identity.ts
  src/services/identity.service.ts
  src/services/setting.service.ts
Due: eslint, prettier --check

Added keyboard interactive auth
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/domain/host/event.rs
  src-tauri/src/domain/host/mod.rs
  src-tauri/src/domain/host/models.rs
  src-tauri/src/domain/host/session_manager.rs
  src-tauri/src/domain/host/ssh_client.rs
  src-tauri/src/infrastructure/error.rs
  src/components/pages/hosts-page/sidebar/sidebar.tsx
  src/components/pages/terminals-page/status-overlay/status-overlay.tsx
  src/components/pages/terminals-page/terminal-view/interface.ts
  src/components/pages/terminals-page/terminal-view/terminal-view.tsx
  src/interfaces/host.ts
  src/services/host.service.ts
Due: eslint

Fixed terminal event
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/domain/host/event.rs
  src-tauri/src/domain/host/models.rs
  src-tauri/src/domain/host/session_manager.rs
  src/components/pages/hosts-page/sidebar/sidebar.tsx
  src/components/pages/terminals-page/status-overlay/status-overlay.tsx
  src/components/pages/terminals-page/terminal-view/constant.ts
  src/components/pages/terminals-page/terminal-view/interface.ts
  src/components/pages/terminals-page/terminal-view/terminal-view.tsx
Due: eslint

Added updater
  .github/workflows/publish.yaml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/desktop.json
  src-tauri/src/infrastructure/mod.rs
  src-tauri/src/infrastructure/updater.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
Due: prettier --check

Fixed updater
  .github/workflows/publish.yaml
Due: none

Fixed updater CICD
  .github/workflows/publish.yaml
Due: none

Added retry and prefernsis
  .github/workflows/publish.yaml
Due: none

Removed uselsess build
  src-tauri/tauri.conf.json
Due: prettier --check

Added updator config
  src-tauri/src/infrastructure/updater.rs
  src-tauri/tauri.conf.json
Due: prettier --check

Add update-card
  src-tauri/src/domain/setting/command.rs
  src-tauri/src/infrastructure/error.rs
  src-tauri/src/infrastructure/mod.rs
  src-tauri/src/infrastructure/updater.rs
  src-tauri/src/lib.rs
  src/components/pages/settings-page/settings-page.tsx
  src/components/pages/settings-page/update-card/index.ts
  src/components/pages/settings-page/update-card/update-card.tsx
  src/components/shared/card/card.tsx
  src/services/setting.service.ts
Due: eslint

Updated cicd-parameter
  .github/workflows/publish.yaml
  package.json
Due: prettier --check

Updated cicd-parameter
  .github/workflows/publish.yaml
Due: none

Added upgrade app functionality
  package-lock.json
  package.json
  src-tauri/src/domain/setting/command.rs
  src-tauri/src/domain/setting/event.rs
  src-tauri/src/domain/setting/mod.rs
  src-tauri/src/domain/setting/models.rs
  src-tauri/src/lib.rs
  src/components/pages/settings-page/update-card/update-card.tsx
  src/interfaces/index.ts
  src/interfaces/setting.ts
  src/services/setting.service.ts
Due: eslint, prettier --check

Updater (#5)
  .github/workflows/publish.yaml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/desktop.json
  src-tauri/src/domain/setting/command.rs
  src-tauri/src/infrastructure/error.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/components/pages/settings-page/settings-page.tsx
  src/components/pages/settings-page/update-card/index.ts
  src/components/pages/settings-page/update-card/update-card.tsx
  src/components/shared/card/card.tsx
  src/services/setting.service.ts
Due: eslint, prettier --check

Revert "Updater (#5)"
  .github/workflows/publish.yaml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/desktop.json
  src-tauri/src/domain/setting/command.rs
  src-tauri/src/infrastructure/error.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/components/pages/settings-page/settings-page.tsx
  src/components/pages/settings-page/update-card/index.ts
  src/components/pages/settings-page/update-card/update-card.tsx
  src/components/shared/card/card.tsx
  src/services/setting.service.ts
Due: eslint, prettier --check

Revert "Updater (#5)" (#6)
  .github/workflows/publish.yaml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/desktop.json
  src-tauri/src/domain/setting/command.rs
  src-tauri/src/infrastructure/error.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/components/pages/settings-page/settings-page.tsx
  src/components/pages/settings-page/update-card/index.ts
  src/components/pages/settings-page/update-card/update-card.tsx
  src/components/shared/card/card.tsx
  src/services/setting.service.ts
Due: eslint, prettier --check

Updater (#7)
  .github/workflows/publish.yaml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/desktop.json
  src-tauri/src/domain/setting/command.rs
  src-tauri/src/domain/setting/event.rs
  src-tauri/src/domain/setting/mod.rs
  src-tauri/src/domain/setting/models.rs
  src-tauri/src/infrastructure/error.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/components/pages/settings-page/settings-page.tsx
  src/components/pages/settings-page/update-card/index.ts
  src/components/pages/settings-page/update-card/update-card.tsx
  src/components/shared/card/card.tsx
  src/interfaces/index.ts
  src/interfaces/setting.ts
  src/services/setting.service.ts
Due: eslint, prettier --check

Fixed update available update information
  src-tauri/src/domain/setting/command.rs
  src/components/pages/settings-page/update-card/update-card.tsx
Due: eslint

Fixed disable cancel update issue
  src/components/pages/settings-page/update-card/update-card.tsx
Due: eslint

Added update failed handling
  src-tauri/src/domain/setting/command.rs
  src-tauri/src/domain/setting/models.rs
  src/components/pages/settings-page/update-card/update-card.tsx
  src/components/pages/settings-page/update-card/update-failed-notification/index.ts
  src/components/pages/settings-page/update-card/update-failed-notification/update-failed-notification.tsx
  src/interfaces/setting.ts
Due: eslint

Added latest version
  src-tauri/src/domain/setting/command.rs
  src-tauri/src/domain/setting/models.rs
  src/interfaces/setting.ts
Due: eslint

Path conditions:
  eslint: any of: **/*.{js,jsx,ts,tsx}
  prettier --check: any of: **/*.{json,md,html}
