Repository xianyuntang/termigo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint"
  ],
  "**/*.{json,md,html}": [
    "prettier --check"
  ]
}

Updated navbar scrollbar
  src-tauri/src/domain/host/lib.rs
  src-tauri/src/domain/identity/lib.rs
  src/components/layout/layout.tsx
  src/components/layout/navbar/navbar.tsx
  src/components/layout/navbar/tabs/tabs.tsx
  src/components/pages/terminal-page-container/terminal-page-container.tsx
Due: eslint

Implement single event listener
  src-tauri/src/domain/future/future_manager.rs
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/domain/host/event.rs
  src-tauri/src/domain/host/mod.rs
  src-tauri/src/domain/host/ssh.rs
  src-tauri/src/domain/host/terminal.rs
  src/components/pages/terminal-page-container/terminal/terminal.interface.ts
  src/components/pages/terminal-page-container/terminal/terminal.tsx
Due: eslint

Refactor start_terminal_stream command
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/domain/host/ssh.rs
  src/components/layout/navbar/tabs/tabs.tsx
  src/services/future.ts
  src/services/index.ts
Due: eslint

Added CICD
  .github/workflows/build.yaml
Due: none

Added connection status
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/domain/host/event.rs
  src-tauri/src/infrastructure/error.rs
  src/components/pages/terminal-page-container/terminal/terminal.interface.ts
  src/components/pages/terminal-page-container/terminal/terminal.tsx
Due: eslint

Fixed switch card error
  src/components/pages/terminal-page-container/terminal/terminal.tsx
  src/stores/terminal.ts
Due: eslint

Removed toggle
  src/components/layout/layout.tsx
  src/components/pages/hosts-page-container/host-sidebar/host-sidebar.tsx
  src/components/pages/hosts-page-container/hosts-page-container.tsx
  src/components/pages/identities-page-container/identities-page-container.tsx
  src/components/pages/identities-page-container/identity-sidebar/identity-sidebar.tsx
  src/components/shared/select/select.tsx
  src/components/shared/toggle/index.ts
  src/components/shared/toggle/toggle.tsx
Due: eslint

Fixed password undefined issue
  src/components/pages/identities-page-container/identity-sidebar/identity-sidebar.tsx
Due: eslint

Fixed size error
  src/components/pages/hosts-page-container/host-sidebar/host-sidebar.tsx
  src/components/pages/hosts-page-container/hosts-page-container.tsx
Due: eslint

Refactor pages structure
  src/App.tsx
  src/components/pages/hosts-page-container/index.ts
  src/components/pages/hosts-page/host-card/host-card.tsx
  src/components/pages/hosts-page/host-card/index.ts
  src/components/pages/hosts-page/host-sidebar/host-sidebar.tsx
  src/components/pages/hosts-page/host-sidebar/index.ts
  src/components/pages/hosts-page/hosts-page.tsx
  src/components/pages/hosts-page/index.ts
  src/components/pages/hosts-page/new-connection-field/index.ts
  src/components/pages/hosts-page/new-connection-field/new-connection-field.tsx
  src/components/pages/identities-page-container/identities-page-container.tsx
  src/components/pages/identities-page-container/index.ts
  src/components/pages/identities-page/identities-page.tsx
  src/components/pages/identities-page/identity-card/identity-card.tsx
  src/components/pages/identities-page/identity-card/index.ts
  src/components/pages/identities-page/identity-sidebar/identity-sidebar.tsx
  src/components/pages/identities-page/identity-sidebar/index.ts
  src/components/pages/identities-page/index.ts
  src/components/pages/terminal-page-container/index.ts
  src/components/pages/terminal-page-container/terminal-page-container.tsx
  src/components/pages/terminals-page/index.ts
  src/components/pages/terminals-page/terminal/index.ts
  src/components/pages/terminals-page/terminal/terminal.interface.ts
  src/components/pages/terminals-page/terminal/terminal.tsx
  src/components/pages/terminals-page/terminal/xterm.css
  src/components/pages/terminals-page/terminals-page.tsx
  src/pages/hosts-page/hosts-page.tsx
  src/pages/hosts-page/index.ts
  src/pages/identities-page/identities-page.tsx
  src/pages/identities-page/index.ts
  src/pages/terminals-page/terminals-page.tsx
  src/stores/terminal.ts
Due: eslint

Implement sidebar
  eslint.config.js
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/components/app-navbar/app-navbar.tsx
  src/components/app-navbar/index.ts
  src/components/pages/hosts-page/hosts-page.tsx
  src/components/pages/hosts-page/index.ts
  src/components/pages/identities-page/identities-page.tsx
  src/components/pages/identities-page/index.ts
  src/components/pages/terminals-page/index.ts
  src/components/pages/terminals-page/terminals-page.tsx
  src/components/side-menu/index.ts
  src/components/side-menu/side-menu.tsx
  src/hooks/utility.hooks.ts
  src/main.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/hosts/index.tsx
  src/routes/identities/index.tsx
  src/routes/terminals/index.tsx
  vite.config.ts
Due: eslint, prettier --check

Added host page
  eslint.config.js
  package-lock.json
  package.json
  src/components/app-navbar/app-navbar.tsx
  src/components/pages/hosts-page/host-card/host-card.tsx
  src/components/pages/hosts-page/host-card/index.ts
  src/components/pages/hosts-page/hosts-page.tsx
  src/components/pages/hosts-page/sidebar/index.ts
  src/components/pages/hosts-page/sidebar/sidebar.tsx
  src/components/pages/terminals-page/terminals-page.tsx
  src/components/shared/sidebar-card/index.ts
  src/components/shared/sidebar-card/sidebar-card.tsx
  src/components/side-menu/side-menu.tsx
  src/main.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/terminals/$id.tsx
  src/routes/terminals/index.tsx
  src/services/index.ts
Due: eslint, prettier --check

Added terminal shortcuts
  package-lock.json
  package.json
  src/components/app-navbar/app-navbar.tsx
  src/components/app-navbar/terminal-shortcuts/index.ts
  src/components/app-navbar/terminal-shortcuts/terminal-shortcuts.tsx
  src/components/pages/hosts-page/host-card/host-card.tsx
  src/components/pages/hosts-page/hosts-page.tsx
  src/components/pages/terminals-page/terminals-page.tsx
  src/components/side-menu/side-menu.tsx
  src/routes/__root.tsx
  src/stores/index.ts
  src/stores/terminal.store.ts
Due: eslint, prettier --check

Added terminal view
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/domain/host/event.rs
  src/components/app-navbar/terminal-shortcuts/terminal-shortcuts.tsx
  src/components/pages/hosts-page/hosts-page.tsx
  src/components/pages/terminals-page/terminal-view/interface.ts
  src/components/pages/terminals-page/terminal-view/terminal-view.tsx
  src/components/pages/terminals-page/terminal-view/xterm.css
  src/components/pages/terminals-page/terminals-page.tsx
  src/components/side-menu/side-menu.tsx
  src/interfaces/host.ts
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/terminals/$id.tsx
  src/stores/terminal.store.ts
Due: eslint

Added react hook plugin
  eslint.config.js
  package-lock.json
  package.json
  src/components/pages/terminals-page/terminal-view/terminal-view.tsx
Due: eslint, prettier --check

Implement start stream connection
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/infrastructure/mod.rs
  src-tauri/src/infrastructure/transform.rs
  src/components/pages/hosts-page/hosts-page.tsx
  src/components/pages/hosts-page/sidebar/sidebar.tsx
  src/services/host.ts
Due: eslint

Implement public key api
  src-tauri/src/domain/mod.rs
  src-tauri/src/domain/public_keys/command.rs
  src-tauri/src/domain/public_keys/lib.rs
  src-tauri/src/domain/public_keys/mod.rs
  src-tauri/src/lib.rs
Due: none

Implement public key
  src/components/pages/hosts-page/host-card/host-card.tsx
  src/components/pages/hosts-page/sidebar/sidebar.tsx
  src/components/pages/public-keys-page/index.ts
  src/components/pages/public-keys-page/public-key-card/index.ts
  src/components/pages/public-keys-page/public-key-card/public-key-card.tsx
  src/components/pages/public-keys-page/public-keys-page.tsx
  src/components/pages/public-keys-page/sidebar/index.ts
  src/components/pages/public-keys-page/sidebar/sidebar.tsx
  src/components/side-menu/side-menu.tsx
  src/interfaces/index.ts
  src/interfaces/public-key.ts
  src/routeTree.gen.ts
  src/routes/public-keys/index.tsx
  src/services/future.service.ts
  src/services/future.ts
  src/services/host.service.ts
  src/services/host.ts
  src/services/identity.service.ts
  src/services/identity.ts
  src/services/index.ts
  src/services/public-key.service.ts
Due: eslint

Added replace router
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/domain/public_keys/mod.rs
  src/components/pages/hosts-page/sidebar/sidebar.tsx
  src/components/pages/terminals-page/terminal-view/terminal-view.tsx
  src/routes/__root.tsx
Due: eslint

Implement identity
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/domain/identity/command.rs
  src/components/pages/hosts-page/sidebar/sidebar.tsx
  src/components/pages/identities-page/identities-page.tsx
  src/components/pages/identities-page/identity-card/identity-card.tsx
  src/components/pages/identities-page/sidebar/sidebar.tsx
  src/components/pages/public-keys-page/public-keys-page.tsx
  src/components/pages/terminals-page/terminal-view/terminal-view.tsx
  src/interfaces/identity.ts
  src/services/identity.service.ts
Due: eslint

Fixed tanstack router dev flag
  src/routes/__root.tsx
Due: eslint

Fixed autocomplete
  src/components/pages/hosts-page/sidebar/sidebar.tsx
  src/components/pages/identities-page/sidebar/sidebar.tsx
  src/components/pages/public-keys-page/sidebar/sidebar.tsx
  src/services/identity.service.ts
Due: eslint

Fixed xterm focus issue
  src/components/pages/terminals-page/terminal-view/terminal-view.tsx
Due: eslint

Added tunnel
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/domain/host/mod.rs
  src-tauri/src/domain/host/models.rs
  src-tauri/src/domain/host/session.rs
  src-tauri/src/domain/host/ssh.rs
  src-tauri/src/lib.rs
  src/components/pages/hosts-page/host-card/host-card.tsx
  src/components/pages/hosts-page/hosts-page.tsx
  src/components/pages/hosts-page/sidebar/sidebar.tsx
  src/components/pages/hosts-page/tunnel-dialog/index.ts
  src/components/pages/hosts-page/tunnel-dialog/tunnel-dialog.tsx
  src/components/pages/identities-page/identities-page.tsx
  src/components/pages/identities-page/sidebar/sidebar.tsx
  src/components/pages/public-keys-page/public-keys-page.tsx
  src/components/pages/public-keys-page/sidebar/sidebar.tsx
  src/core/invoker.ts
  src/services/host.service.ts
Due: eslint

Changed navbar shortcuts styles
  src/components/app-navbar/terminal-shortcuts/terminal-shortcuts.tsx
Due: eslint

Renamed public key to private key
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/domain/host/models.rs
  src-tauri/src/domain/host/session.rs
  src-tauri/src/domain/host/ssh.rs
  src-tauri/src/domain/identity/command.rs
  src-tauri/src/domain/identity/mod.rs
  src-tauri/src/domain/identity/models.rs
  src-tauri/src/domain/mod.rs
  src-tauri/src/domain/private_keys/command.rs
  src-tauri/src/domain/private_keys/mod.rs
  src-tauri/src/domain/private_keys/models.rs
  src-tauri/src/domain/public_keys/command.rs
  src-tauri/src/lib.rs
  src/components/pages/hosts-page/hosts-page.tsx
  src/components/pages/hosts-page/sidebar/sidebar.tsx
  src/components/pages/identities-page/identities-page.tsx
  src/components/pages/identities-page/sidebar/sidebar.tsx
  src/components/pages/private-keys-page/index.ts
  src/components/pages/private-keys-page/private-key-card/index.ts
  src/components/pages/private-keys-page/private-key-card/private-key-card.tsx
  src/components/pages/private-keys-page/private-keys-page.tsx
  src/components/pages/private-keys-page/sidebar/index.ts
  src/components/pages/private-keys-page/sidebar/sidebar.tsx
  src/components/pages/public-keys-page/index.ts
  src/components/pages/public-keys-page/public-key-card/index.ts
  src/components/side-menu/side-menu.tsx
  src/interfaces/host.ts
  src/interfaces/identity.ts
  src/interfaces/index.ts
  src/interfaces/private-key.ts
  src/routeTree.gen.ts
  src/routes/private-keys/index.tsx
  src/routes/public-keys/index.tsx
  src/services/host.service.ts
  src/services/identity.service.ts
  src/services/index.ts
  src/services/private-key.service.ts
  src/services/public-key.service.ts
Due: eslint

Renamed title
  src-tauri/tauri.conf.json
Due: prettier --check

Updated README
  README.md
Due: prettier --check

Replace tunnel dialog with tunnel sidebar and implement port forwarding state management.
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/domain/host/commands.rs
  src-tauri/src/domain/host/ssh.rs
  src/components/app-navbar/terminal-shortcuts/terminal-shortcuts.tsx
  src/components/pages/hosts-page/host-card/host-card.tsx
  src/components/pages/hosts-page/hosts-page.tsx
  src/components/pages/hosts-page/sidebar/sidebar.tsx
  src/components/pages/hosts-page/tunnel-dialog/index.ts
  src/components/pages/hosts-page/tunnel-dialog/tunnel-dialog.tsx
  src/components/pages/hosts-page/tunnel-sidebar/index.ts
  src/components/pages/hosts-page/tunnel-sidebar/tunnel-sidebar.tsx
  src/stores/index.ts
  src/stores/portforward.store.ts
  src/stores/terminal.store.ts
Due: eslint

Integrate Zod validation into forms and update dependencies
  package-lock.json
  package.json
  src/components/pages/hosts-page/sidebar/sidebar.tsx
  src/components/pages/identities-page/sidebar/sidebar.tsx
  src/components/pages/private-keys-page/sidebar/sidebar.tsx
Due: eslint, prettier --check

Export schemas and fix async behavior in form handling
  src/components/pages/hosts-page/hosts-page.tsx
  src/components/pages/hosts-page/sidebar/sidebar.tsx
  src/components/pages/hosts-page/tunnel-sidebar/tunnel-sidebar.tsx
  src/components/pages/identities-page/identities-page.tsx
  src/components/pages/identities-page/sidebar/sidebar.tsx
  src/components/pages/private-keys-page/private-keys-page.tsx
  src/components/pages/private-keys-page/sidebar/sidebar.tsx
Due: eslint

Add form reset on tunnel sidebar close action
  src/components/pages/hosts-page/tunnel-sidebar/tunnel-sidebar.tsx
Due: eslint

Refactor terminal host retrieval and improve channel handling
  src-tauri/src/domain/host/commands.rs
  src/components/app-navbar/terminal-shortcuts/terminal-shortcuts.tsx
  src/components/pages/terminals-page/terminal-view/terminal-view.tsx
  src/stores/terminal.store.ts
Due: eslint

Remove unused SVG assets and clean up HTML formatting
  index.html
  public/tauri.svg
  public/vite.svg
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
Due: prettier --check

Add macOS code signing and notarization steps to CI workflow
  .github/workflows/build.yaml
Due: none

Unlock keychain before setting key partition list
  .github/workflows/build.yaml
Due: none

Add CERTIFICATE_PASSWORD to environment variables
  .github/workflows/build.yaml
Due: none

Improve macOS build workflow with better validation
  .github/workflows/build.yaml
Due: none
